<h1>StaticPages#surprise</h1>
<p>Find me in app/views/static_pages/surprise.html.erb</p>

<h3>Triàngulo 1<h3>
<% @size.each  do |number| %>
 <%= p "*" * number %>
 <br/>
  <% end %>

<h3>Triángulo </h3>
<% @size.reverse! %>
<& counter = @size.count %>
<%@size.each do |number| %>
	<%line = "*" * (2*numer-1) %>
	<% 